/* body {
    background-image: url(GetImage.png)
}*/

#buttons *{
    size: 5px;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 5px;
}
img{
    width: 80px;
    height: 80px;
}